<%- @page_title = "Ask an Expert Demographics Data"-%>
<%= render(:partial => 'download_breadcrumbs', :locals => {:endpoint => 'AaE Demographics Data'}) %>

<header class="jumbotron subhead" id="overview">
  <h1><%= @page_title %></h1>
</header>

<div class="row">
  <div class="span6">
    <table class="table table-bordered">
      <tbody>
          <tr>
            <td>Period</td>
            <td><%= @download.period_to_s %></td>
          </tr>
          <tr><td>Format</td><td><%= @download.filetype %></td></tr>
          <tr><td>Last Export Size</td><td><%= humanize_bytes(@download.last_filesize,'n/a') %></td></tr>
          <tr><td>Last Export Size</td><td><%= (@download.last_generated_at.blank? ? 'n/a' : @download.last_generated_at.strftime("%Y-%m-%d %H:%M:%S %Z")) %></td></tr>
          <tr><td>Response Rate</td><td><%= response_rate(@response_rate) %></td></tr>
      </tbody>
    </table>
  </div>

  <div class='span6'>
    <div class="well">
      <p>
    <%- if @download.available_for_download? %>
      <%= link_to("Download",getfile_download_path(@download),class: 'btn') %>
    <%- elsif(@download.in_progress?) -%>
      Export in progress. Please check back in a few minutes.
    <%- elsif(!@download.updated?) -%>
      <%- @download.delay.dump_to_file -%>
      Export not up to date. Please check back in a few minutes.
    <%- end -%>
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="span12">
    <h3>Data Key</h3>
    <table class="table table-bordered table-striped">
      <thead>
        <th>Variable</th>
        <th>Description</th>
      </thead>
      <tbody>

        <tr>
          <td>submitter_is_extension/td>
          <td>Whether the submitter of the demographic data did so using an eXtension Account (true/false).</td>
        </tr>       

        <tr>
          <td>demographics_count</td>
          <td>The number of demographics questions answered by the submitter</td>
        </tr>

        <%- AaeDemographicQuestion.order(:id).active.each do |adq| -%>
        <tr>
          <td>demographic_<%= adq.id %></td>
          <td>
            <p><%= adq.prompt %></p>
            <ul>
              <%- adq.responses.each do |response| %>
              <li><%= response %>
              <%- end -%>
            </ul>
          </td>
        </tr>
        <%- end -%>

                         
      </tbody>
    </table>
  </div>
</div>
