<%- @page_title = "Ask an Expert Evaluation Data"-%>
<%= render(:partial => 'download_breadcrumbs', :locals => {:endpoint => 'AaE Evaluation Data'}) %>

<header class="jumbotron subhead" id="overview">
  <h1><%= @page_title %></h1>
</header>


<div class="row">
  <div class="span6">
    <table class="table table-bordered">
      <tbody>
          <tr>
            <td>Period</td>
            <td><%= @download.period_to_s %></td>
          </tr>
          <tr><td>Format</td><td><%= @download.filetype %></td></tr>
          <tr><td>Last Export Size</td><td><%= humanize_bytes(@download.last_filesize,'n/a') %></td></tr>
          <tr><td>Last Export Size</td><td><%= (@download.last_generated_at.blank? ? 'n/a' : @download.last_generated_at.strftime("%Y-%m-%d %H:%M:%S %Z")) %></td></tr>
      </tbody>
    </table>
  </div>

  <div class='span6'>
    <div class="well">
      <p>
    <%- if @download.available_for_download? %>
      <%= link_to("Download",getfile_download_path(@download),class: 'btn') %>
    <%- elsif(@download.in_progress?) -%>
      Export in progress. Please check back in a few minutes.
    <%- elsif(!@download.updated?) -%>
      <%- @download.delay.dump_to_file -%>
      Export not up to date. Please check back in a few minutes.
    <%- end -%>
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="span12">
    <h3>Data Key</h3>
    <p>Evaluation questions are split into _response (raw response) and _value (numeric value, if applicable) columns</p>
    <table class="table table-bordered table-striped">
      <thead>
        <th>Variable</th>
        <th>Description</th>
      </thead>
      <tbody>
        <tr>
          <td>question_id</td>
          <td>Question ID that this evaluation is associated with.</td>
        </tr>

        <tr>
          <td>evaluation_count</td>
          <td>The number of evaluation questions answered by the submitter</td>
        </tr>

        <%- AaeEvaluationQuestion.order(:id).active.each do |aeq| -%>
        <tr>
          <td>
            evaluation_<%= aeq.id %>
          </td>
          <td>
            <p>
              <%- if aeq.responsetype == AaeEvaluationQuestion::SCALE -%>
                <%= aeq.prompt %> <em>(on a scale from <%= aeq.range_start %> to <%= aeq.range_end %>)</em>
              <%- else -%>
                <%= aeq.prompt %>
              <%- end -%>
            </p>


           <%- if !aeq.responses.blank? -%>
            <ul>
              <%- if aeq.responsetype == AaeEvaluationQuestion::SCALE -%>
                <li><span class="badge"><%= aeq.range_start %></span> : <%= aeq.responses[0] %></li>
                <li><span class="badge"><%= aeq.range_end %></span> : <%= aeq.responses[1] %></li>
              <%- elsif aeq.responsetype == AaeEvaluationQuestion::MULTIPLE_CHOICE -%>
                <%- aeq.responses.each_with_index do |response_text,index| %>                
                  <li><span class="badge"><%= aeq.reporting_response_value(response_text) %></span> : <%= response_text %></li>              
                <%- end -%>
              <%- else -%>
                <%- aeq.responses.each_with_index do |response_text,index| %>
                <li><%= response_text %></li>
                <%- end -%>
              <%- end -%>
            </ul>
            <%- end -%>
          </td>
        </tr>
        <%- end -%>     
                        
      </tbody>
    </table>
  </div>
</div>
