<%-
	if @group.nil?
      @page_title = "#{node_scope_label(@node_scope)} Activity Graphs "
      @page_title_display = "#{node_scope_label(@node_scope)} Activity Graphs "
    else
      @page_title = "#{node_scope_label(@node_scope)} Activity Graphs for Group ##{@group.id}"
      @page_title_display = "#{node_scope_label(@node_scope)} Activity Graphs for #{@group.name}"
    end
-%>
<header class="jumbotron subhead" id="overview">
  <h1><%= @page_title_display %></h1>
  <p class="lead">Data for <%= year_week_for_last_week%> (<%= date_range_for_last_week%>) </p>
</header>

<ul class="nav nav-tabs">
  <%- NodeActivity::ACTIVITIES.each do |activity| -%>
  <%= graph_nav_li(activity) %>
  <%- end -%>
</ul>

<%- ['contributions','items','contributors'].each do |metric| -%>
<div class="page-header">
  <h1><%= activity_scope_label(@activity) %> - <%= metric.capitalize %></h1>
</div>
<div class="row">
  <div class="span12">
    <%- if(@group.nil?)
          stats_scope = Node.send(@node_scope)
        else
          stats_scope = @group.nodes.send(@node_scope)
        end %>
    <%= render(:partial => 'shared/line_plot', :locals => {:data => stats_scope.stats_by_yearweek(@activity).to_graph_data(metric.to_sym), :datalabel => metric })%>
  </div>
</div>
<%- end -%>
