<%- 
	if @group.nil? 
      @page_title = "#{node_scope_label(@node_scope)} Activity Graphs "
      @page_title_display = "#{node_scope_label(@node_scope)} Activity Graphs "
    else
      @page_title = "#{node_scope_label(@node_scope)} Activity Graphs for Group ##{@group.id}"
      @page_title_display = "#{node_scope_label(@node_scope)} Activity Graphs for #{@group.name}"
    end
-%>
<header class="jumbotron subhead" id="overview">
  <h1><%= @page_title_display %></h1>
  <p class="lead">Data for <%= year_week_for_last_week%> (<%= date_range_for_last_week%>) </p>
</header>

<%- ['contributions','items','contributors'].each do |metric| -%>
<div class="page-header">
  <h1><%= activity_scope_label(@activity_scope) %> - <%= metric.capitalize %></h1>
</div>
<div class="row">
  <div class="span12">
    <%= render(:partial => 'graphs_plot', :locals => {:data => @stats_scope.by_metric(metric).stats_to_graph_data, :datakey => metric })%>     
  </div>
</div>
<%- end -%>
