<% @page_title = "Node Activity Information" %>
<%= render(:partial => 'node_breadcrumbs', :locals => {:endpoint => 'Nodes'}) %>

<header class="jumbotron subhead" id="overview">
  <h1><%= @page_title %></h1>
  <%= render(:partial => 'date_changing_lead')%>
</header>


  <div class="page-header">
    <h2>All Nodes</h2>
  </div>  
  <div class="row">
    <div class="span4">
      <h3>Overall</h3>

      <h3>Last Week</h3>
    </div>
  
    <div class="span8">
      <h3>Contributors per week over time</h3>
      <%= render(:partial => 'graphs_plot', :locals => {:data => NodeActivityDiff.overall.by_n_a_m('all_nodes','all_activity','contributors').stats_to_graph_data, :datalabel => 'all_contributors' })%>     
    </div>
  </div>

  <div class="page-header">
    <h2>Articles</h2>
  </div>  
  <div class="row">
    <div class="span4">
      <h3>Overall</h3>

      <h3>Last Week</h3>
    </div>
  
    <div class="span8">
      <h3>Contributors per week over time</h3>
      <%= render(:partial => 'graphs_plot', :locals => {:data => NodeActivityDiff.overall.by_n_a_m('articles','all_activity','contributors').stats_to_graph_data, :datalabel => 'articles_contributors' })%>     
    </div>
  </div>

