<% @page_title = "Node Activity Information" %>
<%= render(:partial => 'node_breadcrumbs', :locals => {:endpoint => 'Nodes'}) %>

<header class="jumbotron subhead" id="overview">
  <h1><%= @page_title %></h1>
  <%= render(:partial => 'date_changing_lead')%>
</header>


  <div class="page-header">
    <h2>All Nodes</h2>
  </div>
  <div class="row">
    <div class="span4">
      <h3>Overall</h3>
      <%= overall_c_i_c_stats('all_nodes') %>

      <h3>Last Week</h3>
      <%= last_week_c_i_c_stats('all_nodes') %>

    </div>

    <div class="span8">
      <h3>Contributors per week over time <small><%= link_to('more graphs...',graphs_nodes_path())%></small></h3>
      <%= render(:partial => 'shared/line_plot', :locals => {:data => Node.stats_by_yearweek(NodeActivity::ALL_ACTIVITY).to_graph_data(:contributors), :datalabel => 'all_contributors' })%>
    </div>
  </div>

  <%- ['articles','faqs','news'].each do |node_scope| -%>
  <div class="page-header">
    <h2><%= node_scope.capitalize %></h2>
  </div>
  <div class="row">
    <div class="span4">
      <h3>Overall</h3>
      <%= overall_c_i_c_stats(node_scope) %>

      <h3>Last Week</h3>
      <%= last_week_c_i_c_stats(node_scope) %>

    </div>

    <div class="span8">
      <h3>Contributors per week over time <small><%= link_to('more graphs...',graphs_nodes_path(:node_scope => node_scope))%></small></h3>
      <%= render(:partial => 'shared/line_plot', :locals => {:data => Node.send(node_scope).stats_by_yearweek(NodeActivity::ALL_ACTIVITY).to_graph_data(:contributors), :datalabel => "#{node_scope}_contributors" })%>
    </div>
  </div>
  <%- end -%>

  <% node_scope = 'nonpublishables' %>
  <div class="page-header">
    <h2>Other</h2>
  </div>
  <div class="row">
    <div class="span4">
      <h3>Overall</h3>
      <%= overall_c_i_c_stats(node_scope) %>

      <h3>Last Week</h3>
      <%= last_week_c_i_c_stats(node_scope) %>

    </div>

    <div class="span8">
      <h3>Contributors per week over time <small><%= link_to('more graphs...',graphs_nodes_path(:node_scope => node_scope))%></small></h3>
      <%= render(:partial => 'shared/line_plot', :locals => {:data => Node.send(node_scope).stats_by_yearweek(NodeActivity::ALL_ACTIVITY).to_graph_data(:contributors), :datalabel => "#{node_scope}_contributors" })%>
    </div>
  </div>

