  <div id="group_<%= group.id %>_traffic_plot_<%= datatype %>" style="height:160px; width:540px;"></div> 
  <script class="code" type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
      var data = <%= jqplot_group_traffic_data_by_datatype(group,datatype) %>;
      var plot1 = jQuery.jqplot ("group_<%= group.id %>_traffic_plot_<%= datatype %>", [data], 
        {
          axesDefaults: {
            pad: 0
          },
          axes: {
            xaxis: {
              renderer: $.jqplot.DateAxisRenderer,
              tickOptions:{
               formatString:'%b&nbsp;%Y'
              }
            },
            yaxis: {
              min: 0,
              max: <%= group.total_diffs.max_views(5) %>
            } 
          },
          seriesDefaults: {
            showMarker: false,
            shadow: false
          },
          grid: {
              drawBorder: false,
              shadow: false,
              background: "white"
          }
        }
      );
    }, 100);
    });
  </script>
