<% @page_title = "Details for Group ##{@group.id}" %>
<header class="jumbotron subhead" id="overview">
  <h1>Views for <%= @group.name %></h1>
  <p class="lead">Data for <%= year_week_for_last_week%> (<%= date_range_for_last_week%>) </p>
</header>


<%- Page::DATATYPES.each do |datatype| -%>
  <div class="page-header">
    <h1><%= datatype.pluralize %></h1>
  </div>  
  <div class="row-fluid">
    <div class="span4">
      <%= render(:partial => 'group_views_information', :locals => {:datatype => datatype, :group => @group}) %>
    </div>
  
    <div class="span8">
      <h3>Views per week over time</h3>
      <% if @group.pages.by_datatype(datatype).count > 0 %>
      <%= render(:partial => 'group_traffic_plot', :locals => {:datatype => datatype, :group => @group})%>
      <%- else -%>
      <p> No data.</p>
      <%- end -%>     
    </div>
  </div>
<%- end -%>


