<% @page_title = "Page Information - Group ##{@group.id}" %>
<%= render(:partial => 'group_breadcrumbs', :locals => {group: @group, endpoint: 'Pages'}) %>
<header class="jumbotron subhead" id="overview">
  <h1>Page Information for <%= @group.name %></h1>
  <p class="lead">
    Data for <%= year_week_for_last_week%>
    (<%= date_range_for_last_week%>)
  </p>
</header>

<div class="page-header">
  <h2>Overall</h2>
</div>

<div class="row">
  <div class="span8">
    <h3>Landing Page Views</h3>
    <%= render(:partial => 'shared/line_plot', :locals => {:data => @landing_stats.to_graph_data('total'), :datalabel => 'index'})%>
  </div>

  <div class="span4">
    <h3>Landing Page Stats</h3>
    <p><span class='bignumber'><%=number_with_precision(@landing_stats[@latest_yearweek]['total'], :precision => 0)%></span> views for week</p>
    <p><%= pct_change(@landing_stats[@latest_yearweek]['pct_change_week'],'mednumber') %> from previous week</p>
    <p><%= pct_change(@landing_stats[@latest_yearweek]['pct_change_year'],'mednumber') %> from previous year</p>
  </div>
</div>

<div class="row">
  <%- Page::DATATYPES.each do |datatype| -%>
    <div class="span3">
      <%- if @datatype_stats[datatype][@latest_yearweek] -%>
        <h3><%= datatype.pluralize %>
          <span><%= link_to("details &raquo;".html_safe,details_pages_path(group_id: @group.id,datatype: datatype),:class => 'btn btn-small') %></span>
        </h3>
        <%= render(:partial => 'shared/overall_views_information',
                   :locals => {:datatype => datatype, :stats_for_week => @datatype_stats[datatype][@latest_yearweek]}) %>
     <%- else -%>
       <h3><%= datatype.pluralize %></h3>
       <p> No Data </p>
     <%- end -%>
    </div>
  <%- end -%>
</div>

<%- ['Article', 'Faq'].each do |datatype| -%>
<div class="row">
  <div class="span12">
    <h3><%= "#{datatype} Views vs. Overall average" %></h3>
    <%= render(:partial => 'shared/comparison_plot',
               :locals => {data: @comparators[datatype].to_graph_data('per_page'),
                           labels: @comparators[datatype].to_graph_labels,
                           datalabel: "per_page_#{datatype}" }) -%>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h3><%= "#{datatype} % Viewed vs. Overall average" %></h3>
    <%= render(:partial => 'shared/comparison_plot',
               :locals => {data: @comparators[datatype].to_graph_data('seen',{relative_to: 'pages', relative_percentage: true}),
                           labels: @comparators[datatype].to_graph_labels,
                           datalabel: "seen_pct_#{datatype}",
                           ymax: 100 }) -%>
  </div>
</div>
<%- end -%>
