<header class="jumbotron subhead" id="overview">
  <h1><%= @page_title_display %></h1>
  <p class="lead">Data for <%= year_week_for_last_week%> (<%= date_range_for_last_week%>) </p>
</header>

<div class="row-fluid">
  <div class="span12">
	  <%= paginate @pagelist %>
	  <%= render(:partial => 'pages/pagelist', :locals => {:pagelist => @pagelist} )%>
  </div>
</div>
