<% @page_title = "Data for #{@group.name}" %>
<%= render(:partial => 'group_breadcrumbs', :locals => {:group => @group}) %>
<header class="jumbotron subhead" id="overview">
  <h1><%= @group.name %></h1>
  <p class="lead">
    Data for <%= year_week_for_last_week%>
    (<%= date_range_for_last_week%>)
  </p>
</header>




<div class="row">

  <div class="span6">
    <h2>Pages</h2>
    <p><%= link_to("Explore &raquo;".html_safe,pages_group_path(@group),:class => 'btn btn-small btn-info') %></p>
  </div>


<!--   <div class="span6">
    <h2>Nodes</h2>
    <p><a class="btn" href="#">Explore &raquo;</a></p>
  </div> -->

</div


