<ul class="nav">
	<%= link_to("eXtension Data",root_path,:class=>'brand')%>
</ul>

<!-- Core Navigation -->
<%- if !@hide_navbar%>
<ul class="nav">
  <li class="divider-vertical"></li>

	<%= form_tag(search_path, { :class => 'navbar-search pull-left' }) do -%>
    <%= text_field_tag :q, params[:q], {:class => 'search-query span3', :placeholder => 'Find page, node, or contributor', :autocomplete => 'off'} -%>
	<%- end -%>
  <li class="divider-vertical"></li>


	<%= nav_item(pages_path,'Pages') %>
	<%= nav_item(nodes_path,'Nodes') %>
	<%= nav_item(groups_path,'Groups') %>
</ul>


<!-- right pulldown -->
<ul class="nav pull-right">
	<%- if @currentcontributor -%>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @currentcontributor.fullname %><b class="caret"></b></a>
		<ul class="dropdown-menu">
			<%= nav_item(contributor_path(@currentcontributor),'Your Contributions') %>
			<li class="divider"></li>
			<%= nav_item(logout_path,'Sign out') %>
		</ul>
	</li>
	<%- else -%>
		<%= nav_item('/auth/extension','Sign in (eXtensionID)') %>
	<%- end -%>
</ul>
<%- end -%>

