<ul class="nav">
	<%= link_to("eXtension Data",root_path,:class=>'brand')%>
</ul>

<!-- Core Navigation -->
<%- if !@hide_navbar%>
<ul class="nav">
	<%= nav_item(pages_path,'Pages') %>
	<%= nav_item(nodes_path,'Nodes') %>
	<%= nav_item(groups_path,'Groups') %>
	<%= nav_item(aae_index_path,'Ask an Expert') %>
	<%= nav_item(experiments_path,'Experiments') %>
	<%= nav_item(search_path,'Search') %>
</ul>


<!-- right pulldown -->
<ul class="nav pull-right">
	<%- if @currentcontributor -%>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @currentcontributor.fullname %><b class="caret"></b></a>
		<ul class="dropdown-menu">
			<%= nav_item(contributor_path(@currentcontributor),'Your Contributions') %>
			<li class="divider"></li>
			<%= nav_item(logout_path,'Sign out') %>
		</ul>
	</li>
	<%- else -%>
		<%= nav_item('/auth/extension','Sign in (eXtensionID)') %>
	<%- end -%>
</ul>
<%- end -%>

