<div class="row">
  <div class="span12">
    <h3><%= @datatype %> growth</h3>
    <%= render(partial: 'shared/line_plot', locals: {:data => stats.to_graph_data('pages',{showrolling: false}), :datalabel => 'pagegrowth'})%>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h3>% Viewed</h3>
    <%= render(:partial => 'shared/line_plot', :locals => {:data => stats.to_graph_data('seen',{relative_to: 'pages', relative_percentage: true, showrolling: false}), :datalabel => 'seen_pct', :fill => true, :ymax => 100})%>
  </div>
</div>


<div class="row">
  <div class="span12">
  <h3>Views</h3>
    <%= render(:partial => 'shared/line_plot', :locals => {:data => stats.to_graph_data('per_page'), :datalabel => 'views'})%>
  </div>
</div>


<div class="row">
  <div class="span12">
  <h3>Percentiles</h3>
    <p><em>click the legend labels to toggle display of the given item</em></p>
    <%= render(:partial => 'shared/comparison_plot', :locals => {:data => percentiles.to_percentile_graph_data, :labels => percentiles.to_percentile_graph_labels, datalabel: 'percentiles'})%>
  </div>
</div>
