<div class="row">
  <div class="span12">
    <h3><%= @datatype %> growth</h3>
    <%= render(:partial => 'graphs_plot', :locals => {:data => graph_data, :datakey => 'pagegrowth'})%>     
  </div>
</div>

<div class="row">
  <div class="span12">
    <h3>% Viewed</h3>
    <%= render(:partial => 'graphs_plot', :locals => {:data => graph_data, :datakey => 'seen_pct', :fill => true})%>     
  </div>
</div>


<div class="row">
  <div class="span12">
  <h3>Views</h3>
    <%= render(:partial => 'graphs_plot', :locals => {:data => graph_data, :datakey => 'views'})%>     
  </div>
</div>


<div class="row">
  <div class="span12">
  <h3>Rolling views average</h3>
    <%= render(:partial => 'graphs_plot', :locals => {:data => graph_data, :datakey => 'rolling'})%>     
  </div>
</div>

  
<div class="row">
  <div class="span12">
  <h3>Percentiles</h3>
    <p><em>click the legend labels to toggle display of the given item</em></p>
    <%= render(:partial => 'graphs_percentiles', :locals => {:data => percentiles_data, :labels => percentiles_labels})%>     
  </div>
</div>
