<%-
  stats_for_week = Page.stats_for_week_for_datatype(datatype)
  pages = (stats_for_week[:pages] || 0)
  seen = (stats_for_week[:seen] || 0)
  new_pages = stats_for_week[:new_pages]
  views = (stats_for_week[:views] || 0)
  seen_pct = ((seen/pages)*100).to_f
-%>

<p><span class='mednumber'><%= number_with_delimiter(pages)%></span> <%= link_to('pages', list_pages_path(:datatype => datatype))%> ( <span class='mednumber'><%= new_pages%></span> new pages )</p>
<div class='barchart'>
<p>
  <span class="index" style="width: <%= seen_pct.to_i %>%">&nbsp;</span>
  <span class="count mednumber"><%= number_with_delimiter(seen)%></span> <span class="count">viewed (<%=number_to_percentage(seen_pct, :precision => 1)%>)</span>
</p>
</div>  
<p><span class='mednumber'><%=number_with_precision(views, :precision => 2)%></span> views for week (average per page)</p>

<p> 
<%- if stats_for_week[:change_week] -%> 
  <span class='mednumber <%=sign_class_percentage(stats_for_week[:change_week])%>'><%=number_to_percentage(stats_for_week[:change_week] * 100, :precision => 2)%></span>
<%- else -%>
  <span class='mednumber'>n/a</span>
<%- end -%>
change from previous week</p>

<p> 
<%- if stats_for_week[:change_year] -%>
    <span class='mednumber <%=sign_class_percentage(stats_for_week[:change_year])%>'><%=number_to_percentage(stats_for_week[:change_year] * 100, :precision => 2)%></span>
<%- else -%>
   <span class='mednumber'>n/a</span>
<%- end -%>
change from same week last year</p>

<p> 
<%- if stats_for_week[:recent_change] -%>
  <span class='mednumber <%=sign_class_percentage(stats_for_week[:recent_change])%>'><%=up_or_down_percentage(stats_for_week[:recent_change])%></span> 
  (<span class='<%=sign_class_percentage(stats_for_week[:recent_change])%>'><%=number_to_percentage(stats_for_week[:recent_change] * 100, :precision => 2) %></span>)
<%- else -%>
  <span class='mednumber'>n/a</span>
<%- end -%>
trend over last <%=Settings.recent_weeks%> weeks</p>

<%- if stats_for_week[:recent_change] -%>
  <p>
    <span class='mednumber'><%=number_with_precision(stats_for_week[:average], :precision => 2)%></span>  
    historical views per page (over <%=stats_for_week[:weeks]%> weeks)
  </p>
<%- end -%>

