<table class="table table-bordered table-striped">
  <thead>
    <tr>
        <th>Page</th>
        <th>Page ID</th>
        <th>Node ID</th>
        <th>Views</th>
        <th>% Change Week</th>
        <th>% Change Year</th>
        <th>Trend</th>
        <th>Percentile</th>
    </tr>
  </thead>
  
  <tbody>
    <%- for page in pagelist -%>
  	<tr>
      <td><%= link_to(page.title.truncate(80, :separator => ' '),page_path(page)) %></td>
      <td><%= page.id %></td>
      <td>
        <%- if(page.node) -%>
          <%= page.node.id %>
        <%- elsif(page.source != 'create') -%>
          n/a
        <%- else -%>
          <span class="label label-important">Unknown!</span>
        <%- end -%>
      </td>
      <%- if !page.last_diff -%>
        <td>n/a</td>
        <td>n/a</td>
        <td>n/a</td>
        <td>n/a</td>
        <td>n/a</td>
      <%- else -%>
        <td><%= page.last_diff.views %></td>
        <td><%= pct_change(page.last_diff.pct_change_week)%></td>
        <td><%= pct_change(page.last_diff.pct_change_year)%></td>
        <td><%= trend(page.last_diff.recent_pct_change)%></td>
        <td><%= page.last_percentile.to_s %><sup>th</sup></td>             
      <%- end -%>
    </tr>
  <%- end -%>
  </tbody>
</table>


