<%-
  stats_for_week = page.stats_for_week(@metric)
  views = (stats_for_week['total'] || 0)
-%>
<p><span class='bignumber'><%=number_with_precision(views, :precision => 1)%></span> Views</p>
<p>Views change from previous week:
<%- if stats_for_week['pct_change_week'] -%>
  <span class='mednumber <%=sign_class_percentage(stats_for_week['pct_change_week'])%>'><%=number_to_percentage(stats_for_week['pct_change_week'] * 100, :precision => 2)%></span>
<%- else -%>
  <span class='mednumber'>n/a</span>
<%- end -%>
</p>
<p>Views change from same week last year:
<%- if stats_for_week['pct_change_year'] -%>
    <span class='mednumber <%=sign_class_percentage(stats_for_week['pct_change_year'])%>'><%=number_to_percentage(stats_for_week['pct_change_year'] * 100, :precision => 2)%></span>
<%- else -%>
   <span class='mednumber'>n/a</span>
<%- end -%>
</p>

<%- if stats_for_week['average'] -%>
  <p>Average views per week over <%=stats_for_week['weeks']%> weeks:
    <span class='mednumber'><%=number_with_precision(stats_for_week['average'], :precision => 1)%></span>
  </p>
<%- end -%>
