<ul class="breadcrumb">
  <li>
    <%= link_to('Pages',pages_path) %><span class="divider">/</span>
  </li>
  <%- if @group -%>
    <%= breadcrumb_li('group') %><%= link_to(@group.name, group_pages_path(@group)) %><span class="divider">/</span></li>
    <%- if @datatype -%>
      <%- if local_assigns.has_key?(:endpoint) -%>
        <%= breadcrumb_li('datatype') %><%= link_to(@datatype.pluralize, datatype_group_pages_path(:datatype => @datatype, :id => @group.id)) %><span class="divider">/</span></li>
      <%- else -%>
        <li class='active'><%= @datatype.pluralize %></li>
      <%- end -%>
    <%- end -%>
  <%- elsif @datatype -%>
    <%= breadcrumb_li('datatype') %><%= link_to(@datatype.pluralize, datatype_pages_path(:datatype => @datatype)) %><span class="divider">/</span></li>
  <%- end -%>
  <%- if local_assigns.has_key?(:endpoint) -%>
  <li class='active'><%= endpoint %></li>
  <%- end -%>
</ul>
