<%- if @group.nil? 
      @page_title = "#{@datatype.pluralize} Graphs "
      @page_title_display = "#{@datatype.pluralize} Graphs "
    else
      @page_title = "#{@datatype.pluralize} Graphs for Group ##{@group.id}"
      @page_title_display = "#{@datatype.pluralize} Graphs for #{@group.name}"
    end
-%>
<%= render(:partial => 'page_breadcrumbs', :locals => {:endpoint => 'graphs'}) %>
<header class="jumbotron subhead" id="overview">
  <h1><%= @page_title_display %></h1>
  <p class="lead">Data for <%= year_week_for_last_week%> (<%= date_range_for_last_week%>) </p>
</header>

<div class="page-header">
  <h1><%= @datatype %> growth</h1>
</div>  
<div class="row">
  <div class="span12">
    <h3></h3>
    <%= render(:partial => 'graphs_plot', :locals => {:data => @graph_data, :datakey => 'pagegrowth'})%>     
  </div>
</div>

<div class="page-header">
  <h1>% Viewed</h1>
</div>
<div class="row">
  <div class="span12">
    <%= render(:partial => 'graphs_plot', :locals => {:data => @graph_data, :datakey => 'seen_pct'})%>     
  </div>
</div>

<div class="page-header">
  <h1>Views</h1>
</div>  
<div class="row">
  <div class="span12">
    <%= render(:partial => 'graphs_plot', :locals => {:data => @graph_data, :datakey => 'views'})%>     
  </div>
</div>

<div class="page-header">
  <h1>Rolling views average</h1>
</div>
<div class="row">
  <div class="span12">
    <%= render(:partial => 'graphs_plot', :locals => {:data => @graph_data, :datakey => 'rolling'})%>     
  </div>
</div>


<div class="page-header">
  <h1>Percentiles</h1>
</div>  
<div class="row">
  <div class="span12">
    <p><em>click the legend labels to toggle display of the given item</em></p>
    <%= render(:partial => 'graphs_percentiles', :locals => {:data => @percentiles_data, :labels => @percentiles_labels})%>     
  </div>
</div>



