<% @page_title = "Groups page information" %>

<header class="jumbotron subhead" id="overview">
  <h1><%= @page_title %></h1>
  <p class="lead">Data for <%= year_week_for_last_week%> (<%= date_range_for_last_week%>) </p>
  
</header>


<div class="well">
  <%= text_field_tag("groupfinder",'',{:class => 'input search-query', :placeholder => 'Type and select to jump to group'}) %>
  <script class="code" type="text/javascript">
    $('#groupfinder').autocomplete({
      source: "/data/groups",
      minLength: 2,
      select: function(event, ui) { 
        window.location = '/pages/group/' + ui.item.id
      } 
    });
  </script>
</div>


<div class="page-header">
  <h1>Top Groups for Week
    <small>by average views/page</small>
  </h1>
</div> 

<div class="row">
  <%- Page::DATATYPES.each do |datatype| -%>
    <div class="span3">
      <div class="page-header">
        <h3><%= datatype.pluralize%></h3>
      </div> 
      <%- groupslist = Group.launched.top_views(:datatype => datatype) -%>
      <dl>
      <%- groupslist.each do |group| %>
        <%- group_stats = group.stats_for_week_for_datatype(datatype) -%>
        <dt><%= link_to(group.name, group_pages_path(group))%></dt>
        <dd>
          <span class='regnumber'><%= number_with_precision(group_stats[:views], :precision => 2) %></span>
          views of <span class='regnumber'><%= number_with_delimiter(group_stats[:pages])%></span> items
        </dd>
      <%- end -%>
      </dl>      
    </div>
  <%- end -%>
</div>
