<% @page_title = "Page Views for Groups" %>

<header class="jumbotron subhead" id="overview">
  <h1><%= @page_title %></h1>
  <p class="lead">Data for <%= year_week_for_last_week%> (<%= date_range_for_last_week%>) </p>
  
</header>
<div class="row">
  <div class="span12">
	    <table class="table table-bordered responsive">
        <thead>
          <tr>
            <th>Group</th>
            <%- Page::DATATYPES.each do |datatype| -%>
              <th colspan='3'><%= datatype.pluralize %></th>
            <%- end -%>
          </tr>
          <tr>
            <td>(<em><span class='positive'>↑</span>, <span class='negative'>↓</span>, ↔ show relation to overall value</em>)</td>
            <%- Page::DATATYPES.each do |datatype| -%>
              <th>Pages</th>
              <th>% Viewed</th>
              <th>Views</th>
            <%- end -%>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to('Overall', pages_path) %></td>
            <%- Page::DATATYPES.each do |datatype| -%>
            <%- overall = Page.stats_for_week_for_datatype(datatype) -%>            
            <td>
              <%= number_with_delimiter(overall[:pages]) %>
            <td>
              <%= number_to_percentage(overall[:seen]/overall[:pages]*100, :precision => 1) %>
            </td>
            <td>
              <%= number_with_precision(overall[:views], :precision => 2) %>              
            </td>  
            <%- end -%>
          </tr>
                    
          <%- Group.launched.order(:name).each do |group| %>
          <tr>
            <td><%= link_to(group.name, group_pages_path(group)) %></td>
            <%- Page::DATATYPES.each do |datatype| -%>
            <%- overall = Page.stats_for_week_for_datatype(datatype) 
                group_stats = group.stats_for_week_for_datatype(datatype)                  
            -%>            
            <td>
              <%= number_with_delimiter(group_stats[:pages]) %>
            <td>
              <%- if(group_stats[:pages] > 0) 
                group_pct_viewed = group_stats[:seen]/group_stats[:pages]
                pct_viewed = overall[:seen]/overall[:pages]
                delta_viewed = (group_pct_viewed - pct_viewed) / pct_viewed
                %>
                <%= number_to_percentage(group_stats[:seen]/group_stats[:pages]*100, :precision => 1) %>
                <span class='<%=sign_class_percentage(delta_viewed)%>'><%=up_or_down_percentage(delta_viewed)%></span>
              <%- else -%>
                n/a
              <%- end -%>
            </td>
            <td>
              <%- if(group_stats[:pages] > 0) %>
                <%- delta_views = (group_stats[:views] - overall[:views]) / overall[:views] %>
                <%= number_with_precision(group_stats[:views], :precision => 2) %>
                <span class='<%=sign_class_percentage(delta_views)%>'><%=up_or_down_percentage(delta_views)%></span>
                              
              <%- else -%>
                n/a
              <%- end -%>
            </td>  
            <%- end -%>
          </tr>
          <%- end -%>
        </tbody>
      </table>
  </div>
</div>
