<%-
  stats_for_week =  @group.stats_for_week_for_datatype(@datatype)
  pages = (stats_for_week[:pages] || 0)
  seen = (stats_for_week[:seen] || 0)
  unseen = pages-seen
  new_pages = stats_for_week[:new_pages]
  views = (stats_for_week[:views] || 0)  
  if(pages > 0)
    seen_pct = ((seen/pages)*100).to_f
    unseen_pct = (((pages-seen)/pages)*100).to_f
  else
    unseen_pct = 0
    seen_pct = 0
  end
-%>

<% @page_title = "#{@datatype.pluralize} Information" %>
<%= render(:partial => 'page_breadcrumbs', :locals => {:showgroups=> true} ) %>
<header class="jumbotron subhead" id="overview">
  <h1><%= @page_title %></h1>
  <%= render(:partial => 'date_changing_lead')%>
</header>

<div class="page-header">
  <h1>Stats</h1>
</div>  
<div class="row">
    <div class="span4">
      <p><span class='mednumber'><%=number_with_precision(views, :precision => 2)%></span> views/page for week</p>
      <p><%= pct_change(stats_for_week[:change_week],'mednumber') %> from previous week</p>
      <p><%= pct_change(stats_for_week[:change_year],'mednumber') %> from previous year</p>
      <p><%= trend(stats_for_week[:recent_change],'mednumber') %> <%=Settings.recent_weeks%> trend/week (last <%=Settings.recent_weeks%> weeks)</p>
    </div>
    
    <div class="span4">
      <p><%= number_list_link(number_with_delimiter(pages),{:datatype => @datatype})%> total <%= @datatype.downcase.pluralize %></p>
      <p><%= number_list_link(number_with_delimiter(seen),{:datatype => @datatype,:filter => 'viewed'})%> viewed <%= @datatype.downcase.pluralize %> (<%=number_to_percentage(seen_pct, :precision => 2)%>)</p>
      <p><%= number_list_link(number_with_delimiter(unseen),{:datatype => @datatype, :filter => 'unviewed'})%> unviewed <%= @datatype.downcase.pluralize %> (<%=number_to_percentage(unseen_pct, :precision => 2)%>)</p>       
    </div>
    
    
</div>

<div class="page-header">
  <h1>Graphs</h1>
</div>  
<%= render(:partial => 'graphs', :locals => {:percentiles_data => @percentiles_data, :percentiles_labels => @percentiles_labels, :graph_data => @graph_data})%>     

