<% @page_title = "Page Information - Group ##{@group.id}" %>
<%= render(:partial => 'page_breadcrumbs', :locals => {:group => @group}) %>
<header class="jumbotron subhead" id="overview">
  <h1>Page Information for <%= @group.name %></h1>
  <p class="lead">
    Data for <%= year_week_for_last_week%>
    (<%= date_range_for_last_week%>) 
  </p>
</header>

<div class="row">
<%- Page::DATATYPES.each do |datatype| -%>
    <div class="span3">
      <h3><%= datatype.pluralize %>
      </h3>
      <hr/>
      <%- stats_for_week_for_datatype = @group.stats_for_week_for_datatype(datatype) -%>
      <%- if stats_for_week_for_datatype[:pages] and stats_for_week_for_datatype[:pages] > 0 -%>   
        <%= render(:partial => 'overall_views_information', :locals => {:datatype => datatype, :stats_for_week => stats_for_week_for_datatype}) %>
        <p>
          <%= link_to("<i class='icon-th'></i> #{datatype.pluralize} details".html_safe,datatype_group_pages_path(:datatype => datatype, :id => @group.id),:class => 'btn btn-info') %>      
        </p>
      <%- else -%>
        No data.
      <%- end -%>
    <hr/>
    </div>
<%- end -%>
</div>
