<% @page_title = "Page Information" %>
<%= render(:partial => 'page_breadcrumbs', :locals => {:endpoint => 'Pages'}) %>

<header class="jumbotron subhead" id="overview">
  <h1><%= @page_title %></h1>
  <%= render(:partial => 'date_changing_lead')%>
</header>


<div class="row">
<%- Page::DATATYPES.each do |datatype| -%>
    <div class="span3">
      <h3><%= datatype.pluralize %>
      </h3>
      <hr/>
         
      <%= render(:partial => 'overall_views_information', :locals => {:datatype => datatype, :stats_for_week => Page.stats_for_week_for_datatype(datatype)}) %>
      <p>
        <%= link_to("<i class='icon-th'></i> #{datatype.pluralize} details".html_safe,datatype_pages_path(:datatype => datatype),:class => 'btn btn-info') %>      
      </p>
    <hr/>
    </div>
<%- end -%>
</div>
