<% @page_title = "Details for Page ##{@page.id}" %>
<%= render(:partial => 'page_breadcrumbs', :locals => {:endpoint => "#{@page.id}"}) %>
<header class="jumbotron subhead" id="overview">
  <h1><%= @page_title %></h1>
  <p class="lead">Data for <%= year_week_for_last_week%> (<%= date_range_for_last_week%>) </p>
</header>

<div class="row">
  <div class="span7">
    <table class="table table-condensed">
      <tbody>
      <tr>
        <td>Title</td>
        <td><%= @page.title %></td>
      </tr>
      <tr>
        <td>Published URL</td>
        <td><%= link_to("http://www.extension.org/pages/#{@page.id}/#{@page.url_title}","http://www.extension.org/pages/#{@page.id}/#{@page.url_title}")%></td>
      </tr>
      <tr>
        <td>Source URL</td>
        <td><%= link_to(@page.source_url,@page.source_url)%></td>
      </tr>
    <tr>
      <td>More Information</td>
      <td><%= link_to("http://www.extension.org/pageinfo/#{@page.id}","http://www.extension.org/pageinfo/#{@page.id}")%></td>
    </tr>
    </tbody>
  </table>
 </div>

  <div class="span5">
    <%= render(:partial => 'page_views_information', :locals => {:page => @page}) %>
  </div>
</div>

<div class="row">
  <div class="span12">
  </div>
</div>

<div class="row">
  <div class="span12">
	 <h3>Page Information</h3>
   <%- if(!@page.node.nil?) -%>
   <p><%= link_to("Node ##{@page.node.id} &raquo;".html_safe,node_path(@page.node), class: 'btn')%></p>
   <%- end -%>
   <%= render(partial: 'page_information_table') %>
  </div>
</div>

<div class="page-header">
   <h3>Page Views By Week <%= button_tag("Show Details &raquo;".html_safe, id: 'infotoggler', class: 'btn btn-small', data: {toggle: 'collapse', target: '#showinfo'}) %></h3>
</div>

<div class="row">
  <div class="span12">
    <%= render(:partial => 'shared/line_plot', :locals => {:data => @view_stats.to_graph_data('total'), :datalabel => 'views'})%>
  </div>
</div>
<div id="showinfo" class="collapse">
  <hr/>
  <div class="row">
    <div class="span12">
        <%= render(partial: 'page_stats_table') %>
    </div>
  </div>
 </div>



<script type="text/javascript">

$('#showinfo').on('show', function () {
  $('#infotoggler').html('Hide Details &laquo;');
});

$('#showinfo').on('hide', function () {
  $('#infotoggler').html('Show Details &raquo;');
});

</script>











