<% @page_title = "Details for Page ##{@page.id}" %>

<header class="jumbotron subhead" id="overview">
  <h1><%= @page_title %></h1>
  <p class="lead">Data for <%= year_week_for_last_week%> (<%= date_range_for_last_week%>) </p>
</header>

<div class="row-fluid">
  <div class="span4">
    <%= render(:partial => 'page_views_information', :locals => {:page => @page}) %>
  </div>
  <div class="span8">
    <h3>Views over time</h3>
    <%= render(:partial => 'page_traffic_plot', :locals => {:page => @page})%>     
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
	 <h3>Page Information</h3>
	<table class="table table-bordered">
 
	  <tbody>
      <tr>
        <td>Title</td>
        <td><%= @page.title %></td>
      </tr>
      <tr>
        <td>Published URL</td>
        <td><%= link_to("http://www.extension.org/pages/#{@page.id}/#{@page.url_title}","http://www.extension.org/pages/#{@page.id}/#{@page.url_title}")%></td>
      </tr>
      <tr>
        <td>Internal Page ID</td>
        <td><%= @page.id %></td>
      </tr>
      <tr>
        <td>Groups</td>
        <td><%= @page.groups.map{|g| link_to(g.name, pages_group_path(g))}.join(', ').html_safe %></td>
      </tr>
      <tr>
      <tr>
        <td>Page Type</td>
        <td><%= @page.datatype %></td>
      </tr>
      <tr>
        <td>Index status</td>
        <td>
        <%- if @page.indexed == 1 -%>
          Indexed. Page can be indexed by all search engines.
        <%- elsif @page.indexed == 2 -%>
          Google asked to not index. Page can be indexed by other search engines.
        <%- else -%>
          All search engines asked to not index.
        <%- end -%>
        </td>
      </tr>
      <tr>
        <td>Words</td>
        <td><%= number_with_delimiter(@page.content_words) %></td>
      </tr>
      <tr>
        <td>Source URL</td>
        <td><%= link_to(@page.source_url,@page.source_url)%></td>
      </tr>
      <tr>
        <td>Source Published At</td>
        <td><%= @page.source_created_at %></td>
      </tr>      
      <tr>
        <td>Source Updated At</td>
        <td><%= @page.source_updated_at %></td>
      </tr>
        <td>More Information</td>
        <td><%= link_to("http://www.extension.org/pageinfo/#{@page.id}","http://www.extension.org/pageinfo/#{@page.id}")%></td>
      </tr>
	  </tbody>
	</table>
  </div>
</div>










