<% @page_title = "Contributions for #{@contributor.fullname}" %>
<header class="jumbotron subhead" id="overview">
  <h1><%= @page_title %></h1>
</header>


<div class="row">
  <div class="span12">
    <address>
    <strong><%= @contributor.title %></strong><br/>
    Last login: <%= @contributor.last_login_at %>
    </address>
  </div>
</div>

<div class="page-header">
  <h1>Create Contributions
  </h1>
</div> 

<div class="row">
  <div class="span6">
    <h3>Direct Contributions <small>Direct edits, comments, reviews, etc.</small></h3>
    <%- contributions_count = @contributor.contributions_count('all_nodes') -%>
    <%- if(contributions_count[:items] > 0 ) -%>
    <p>
    <%= link_to("<i class='icon-th'></i>Details".html_safe,contributions_contributor_path(@contributor),:class => 'btn btn-info') %>      
    <%= link_to("<i class='icon-file'></i>Download (.csv)".html_safe,contributions_contributor_path(@contributor, :download => 'csv'),:class => 'btn btn-info') %>      
    </p>
     <dl>
      <dt><span class='regnumber'><%= contributions_count[:actions] %></span> actions on <span class='regnumber'><%= contributions_count[:items] %></span> nodes</dt>
      <%- contributions_count[:byaction].keys.each do |action| -%>
      <dd><span class='regnumber'><%= contributions_count[:byaction][action] %></span> <%= NodeActivity.event_to_s(action) %></dd>
      <%- end -%>
    <%- else -%>
      <p>none</p>
    <%- end -%>
  </div>

  <div class="span6">
    <h3>Listed Contributions <small>recorded in node metadata</small></h3>
    <%- metacontributions_count = @contributor.metacontributions_count('publishables') -%>
    <%- if(metacontributions_count[:items] > 0 ) -%>
    <p>
    <%= link_to("<i class='icon-th'></i>Details".html_safe,metacontributions_contributor_path(@contributor),:class => 'btn btn-info') %>      
    <%= link_to("<i class='icon-file'></i>Download (.csv)".html_safe,metacontributions_contributor_path(@contributor, :download => 'csv'),:class => 'btn btn-info') %>   
    </p>
     <dl>
      <dt><span class='regnumber'><%= metacontributions_count[:actions] %></span> actions on <span class='regnumber'><%= metacontributions_count[:items] %></span> nodes</dt>
      <%- metacontributions_count[:byaction].keys.each do |action| -%>
      <dd><span class='regnumber'><%= metacontributions_count[:byaction][action] %></span> <%= action %></dd>
      <%- end -%>
    <%- else -%>
      <p>none</p>
    <%- end -%>
  </div>
</div>









