<% @page_title = "Contributions for #{@contributor.fullname}" %>
<header class="jumbotron subhead" id="overview">
  <h1><%= @page_title %></h1>
</header>


<div class="row">
  <div class="span12">
       <h3>Contributor Information</h3>
  <table class="table table-bordered">
 
    <tbody>
      <tr>
        <td>Title</td>
        <td><%= @contributor.title %></td>
      </tr>
      <tr>
        <td>Last login at</td>
        <td><%= @contributor.last_login_at %></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<div class="page-header">
  <h1>Create Contributions
  </h1>
</div> 

<div class="row">
  <div class="span4">
    <h3>Publishable <small>Articles, Faqs, and News</small></h3>
    <%- publishables_count = @contributor.contributions_count('publishables') -%>
    <%- if(publishables_count[:items] > 0 ) -%>
     <dl>
      <dt><span class='regnumber'><%= publishables_count[:actions] %></span> actions on <span class='regnumber'><%= publishables_count[:items] %></span> nodes</dt>
      <%- publishables_count[:byaction].keys.each do |action| -%>
      <dd><span class='regnumber'><%= publishables_count[:byaction][action] %></span> <%= NodeActivity.event_to_s(action) %></dd>
      <%- end -%>
    <%- else -%>
      <p>none</p>
    <%- end -%>
  </div>

  <div class="span4">
    <h3>Other <small>Public Articles, Help Documents, Forums, etc.</small></h3>
    <%- nonpublishables_count = @contributor.contributions_count('nonpublishables') -%>
    <%- if(nonpublishables_count[:items] > 0 ) -%>
     <dl>
      <dt><span class='regnumber'><%= nonpublishables_count[:actions] %></span> actions on <span class='regnumber'><%= nonpublishables_count[:items] %></span> nodes</dt>
      <%- nonpublishables_count[:byaction].keys.each do |action| -%>
      <dd><span class='regnumber'><%= nonpublishables_count[:byaction][action] %></span> <%= NodeActivity.event_to_s(action) %></dd>
      <%- end -%>
    <%- else -%>
      <p>none</p>
    <%- end -%>
  </div>

    <div class="span4">
    <h3>Listed Contributions <small>recorded in node metadata</small></h3>
    <%- metacontributions_count = @contributor.metacontributions_count('publishables') -%>
    <%- if(metacontributions_count[:items] > 0 ) -%>
     <dl>
      <dt><span class='regnumber'><%= metacontributions_count[:actions] %></span> actions on <span class='regnumber'><%= metacontributions_count[:items] %></span> nodes</dt>
      <%- metacontributions_count[:byaction].keys.each do |action| -%>
      <dd><span class='regnumber'><%= metacontributions_count[:byaction][action] %></span> <%= action %></dd>
      <%- end -%>
    <%- else -%>
      <p>none</p>
    <%- end -%>
  </div>
</div>









